<div id="codeSnippetBlock">
    <div id="samplesContainer" class="container">
        <div id="selectors">
            <h2 id="headerString">
                Or, explore Office API code snippets:
            </h2>
            <p>
                <button id="mainBtn" class="codeSnippetsMenu hidden" ng-click="backToMain()">Main </button><span id="placeholder1" class="codeSnippetsMenu hidden">&nbsp; > </span>

                <select id="groupSelector" ng-model="selectedGroup" ng-options="group.name for group in groups">
                    <option value="">(choose a group)</option>
                </select>
                <span id="placeholder2" class="codeSnippetsMenu hidden">&nbsp; > </span>
                <!--<a href="#/testAll" style="text-decoration: none;">-</a>-->

                <select id="sampleSelector" ng-change="isSnippet && loadSampleCode()" ng-model="selectedSample" ng-options="sample.name for sample in samples | filter:{group: selectedGroup.name}">
                    <option value="">(choose a sample)</option>
                </select>
                <button id="goButton" ng-hide="isSnippet" class="fa fa-arrow-circle-o-right" ng-click="loadSampleCode()"></button>
            </p>
        </div>
    </div>
    <div id="sampleDescription">
        <p>Description:</p>
        <p>{{selectedSample.description}}</p>
    </div>
    <div class="hidden" id="codeSnippet">
        <div id="TxtRichApiScript">
        </div>
        <button id="runButton" ng-hide="!insideOffice" ng-click="runSelectedSample()" class="snippetbuttonclass">Run Code</button>
        <div>
            <!--ng-hide="!insideOffice"-->
            <!--<textarea id="console"></textarea>-->
        </div>
    </div>
</div>

