<div id="samplesContainer" class="container">
        <select ng-model="selectedGroup" ng-options="group.name for group in groups">
            <option value="">-- choose a group --</option>
        </select>
        <a href="#/testAll" style="text-decoration: none;">-</a>
        <select ng-change="loadSampleCode()" ng-model="selectedSample" ng-options="sample.name for sample in samples | filter:{group: selectedGroup.name}">
            <option value="">-- choose a sample --</option>
        </select>
    <div>
        <p><button id="runButton" ng-hide="!insideOffice" ng-click="runSelectedSample()">Run!</button> <span>{{selectedSample.description}}</span></p>
    </div>
    <div style="flex-grow: 1; overflow: hidden" id="TxtRichApiScript">

    </div>
    <div> <!--ng-hide="!insideOffice"-->
        <textarea id="console"></textarea>
    </div>
</div>