html, body {
    height: 100%;
    font-family: "Segoe UI", Tahoma, Verdana, Arial, sans-serif;
    overflow-y: auto;
}

#APILayout {
   height:100%;
   width:100%;
}

#content {
    position: absolute;
    top:42px;
    bottom:45px;
    left:0px;
    right:0px;
    padding-right:20px;
    padding-left:20px;
    overflow:hidden;
    background-color: white;
}

#scenario{
    z-index:0;
    width:100%;
    position:relative;
    float:left;
}

#scenarioimg {
    position:relative;
    float:left;
    padding-top:25px;
    padding-right:15px;
    
}

#scenarioimg img {
    cursor:pointer;
}

#scenariolabel h4 {
    margin-top:15px;
    margin-bottom:0px;
}

#task {
    padding-left:45px;
}

#task h3 {
    margin-top:0px;
}

#toastMessage {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    height: 90px;
    right:0px;
    left: 0px;
    z-index: 100;
    background-color: #EFEBEF;
    bottom: 50px;
    display: none;
    border-top-style:solid;
    border-top-width:1px;
    border-top-color:#cac5c5;
}

#message {   
    font-size: medium;
    padding-left:20px;
    color: #858484;
    font-size:15px;
   
}





.toast .closeBtn {
    width: 100%;
    margin-bottom:15px;  
}

#closeImage {
    float:right;
    cursor: pointer;
    margin-top:1px;
    margin-right:1px;
}

#headercontent {
    z-index:1000;
    height:80px;
    background-color:white;
    /*color: #337147;*/
    color: black;
    position:absolute;
    top:0;
    left: 0px;
    right: 0px;
    padding-left:20px;
    overflow:hidden;
}

#headercontent h1{
    margin-top:0px;
    margin-bottom:0px;
}

#introText {
    font-size:13px;
    padding-bottom:5px;
}

#title {
   margin-top:25px;
}

.loading {
    background: url('../Images/Progressbar.gif') no-repeat;
    background-color: #ffffff;
    background-position: 75px center;
    width: 70%;
}

li.listItem {
    background-color:#337147;
    height:65px;
    width:100px;
    display:inline-table;
    margin-right:10px;
    margin-bottom:10px;
    color:white;
    border-radius:2px;
    -moz-border-radius: 2px;
    -moz-box-shadow: 2px 2px 2px gray;
    -webkit-box-shadow: 2px 2px 2px gray;
    border-radius: 2px;
    box-shadow: 2px 2px 2px gray;
}

li.listItem:focus {
    -webkit-box-shadow:inset 0px 0px 0px 3px #000;
    -moz-box-shadow:inset 0px 0px 0px 3px #000;
    box-shadow:inset 0px 0px 0px 3px #000;
}

li.listItem img {
    position:relative;
    padding-bottom:5px;
    padding-right:5px;
    float:right;
}

li.listItem:hover{
    cursor:pointer;
    background-color:#43945d;
}

.listText {
    width:100px;
    height:35px;
    padding-left:10px;
    padding-right:10px;
}

.listText h2{
    line-height:16px;
    font-size: 10pt;
    font-family:Arial;
}

.navigationButtons {
    float:right;
}

.fancyImage{
    background-color: #337147;
    vertical-align: bottom;
    height: 25px;
    width: 25px;
}

#next {
    background-color: #337147;
    cursor: pointer;
    position: relative;
    float: right;
}

#nextlabel {
    float: left;
    padding-top: 3px;
    margin-right: 10px;
}

#nextlabel p {
    margin-bottom:0px;
    margin-top:0px;
    font-size:15px;
}

#next:hover {
    background-color:#43945d;
}

#next img {
    cursor:pointer;  
    height: 30px;
    width: 30px;
}

#previous {
    background-color:#337147;
    position:relative; 
    cursor:pointer;
    margin-right: 10px; 
    float:left;
}

#previous img {
    cursor: pointer;
    height: 30px;
    width: 30px;
}

#previous:hover {
    background-color:#43945d;
}

#previouslabel p {
   margin-bottom:0px;
   margin-top:0px;
   font-size:15px;
}

.buttonclass {
    padding-top: 2px;
    float: left;
    background-color:#337147;
    color: white;
    padding: 5px 10px 5px 10px;
    font-family:Segoe UI, Tahoma, Verdana, sans-serif;
    border:solid;
    border-color:#9E9E9E;
    border-width:1px;
    cursor:pointer;
}

.fancyboxbuttonclass {
    background-color:#337147;
    height: 25px;
    color: white;
    padding: 5px 10px 5px 10px;
    font-family:Segoe UI, Tahoma, Verdana, sans-serif;
    border:solid;
    border-color:#9E9E9E;
    border-width:1px;
}

.codeLayoutBorder {
    border:solid;
    border-color:#e8e6e6;
    border-width:1px;
}

#codeLayout input, textarea {
    height:100px;
    width:99%; 
    margin-top:5px;
    font-family:monospace;
    border:solid;
    border-color:#9E9E9E;
    border-width:1px;
}

#navigation {
    position:absolute;
    bottom:6px;
    left:20px;
    right:25px;
    height:35px;
}

.navimages {
    height:30px;    
    cursor:pointer;
    position:relative;
    float:right;
    padding-left:10px;
}

#description {
    margin-top:0px;
    height:100%;
    overflow-y:auto;
}

#description a{
    color:#337147;    
}

#summary {
    height:200px;
}

#tabs {
    width: 100%;
}

#codeMenu {
    display:inline; 
    list-style:none; 
    padding-right:10px;
}

#codeMenu a, #descriptionMenu a {
    color:#767676; 
    font-weight:normal;
}

#codeMenu.tabSelected a, #descriptionMenu.tabSelected a {
    color:#337147; 
    font-weight:600;
}

#descriptionMenu {
    display:inline; 
    list-style:none;

}

#codeWindow {
    visibility:hidden;
    display:none;
}

#navigation h2 {
    margin-top:0px;
}

#headercontent.listHeader {
    background-color:white;
    /*color: #337147;*/
    color:black;
    padding-top:14px;
    height:80px;
}

#headercontent.apiPageHeader {
    height: 85px;
    background-color: #337147;
    color: white;    
}

#content.list {
    padding-top:0px;
    margin-top:0px;
    padding-left: 10px;
    bottom: 0px;
}

#content.listPageContent {
    margin-top: 40px;
    padding-left: 10px;
    bottom: 0px;
    overflow-y:auto;
}

#content.apiPageContent {
    top:85px;
    margin-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
    bottom: 45px;
}

#headercontent.tutorialpage {
    background-color: #337147;
    color: white;
    height:80px;
}

#content.APIPage1 {
    margin-top: 0;
    padding-right: 30px;
    padding-left: 20px;
    bottom: 45px;
}

#codeMenu a.selected {
     color: #337147;
     font-weight: 600;

}

#samplesContainer {
     overflow: hidden; 
     display:flex;
     flex-direction: column; 
     position: relative;     
     top:0px;
     bottom: 0px; 
     left: 0px; 
     right: 0px; 
     padding: 10px;
}

#samplesContainer select{
    width:80%;
}

#selectorHeader{
     overflow: hidden; 
     display:flex;
     flex-direction: column; 
     position: absolute;     
     top:0px;
     bottom: 0px; 
     left: 10px; 
     right: 0px; 
     padding: 10px;
}

#goButton {
    border:none;
    cursor:pointer;
}
#goButton:hover {
    background:white;
}

#console {
    width:100%; 
    height:100px; 
    bottom:0px;   
}

.divWrapperOutside {
    border:none;
    background-color: white;
    position:relative;
    left: 0px;
    right: 0px;
    top: 0px;
   
}

.divWrapperInside {
    position: relative;
    background-color: white;
    height: 60%;
}

.codeSnippetsMenu {
    background:none;
    cursor:pointer;
    border:none;
    font-size:large;
    color:white;
    margin:5px;
}

#headercontent.button:hover :focus {
    font:bold;   
    border:none;
    background:none;
}

