html, body {
    height: 100%;
    font-family: "Segoe UI", Tahoma, Verdana, Arial, sans-serif;
    overflow-y: hidden;
}

#APILayout {
    height:80%; 
    overflow: hidden; 
    display:flex; 
    flex-direction: column; 
    position: relative; 
    top:45px; 
    bottom:0px; 
    left: 0px; 
    right: 0px; 
    padding: 5px;
}

#tutorialList {
    position: absolute;
    top:42px;
    bottom:45px;
    left:0px;
    right:0px;
    padding-right:20px;
    padding-left:20px;
    overflow:hidden;
    background-color: white;
}

#scenario{
    z-index:0;
    width:100%;
    position:relative;
    float:left;
}

#scenarioimg {
    position:relative;
    float:left;
    padding-top:25px;
    padding-right:15px;
    
}

#scenarioimg img {
    cursor:pointer;
}

#scenariolabel h4 {
    margin-top:15px;
    margin-bottom:0px;
}

#task h3 {
    margin:0;
}

#toastMessage {
    overflow-y: auto;
    overflow-x: auto;
    position: absolute;
    height: 90px;
    right:0px;
    left: 0px;
    z-index: 100;
    background-color: #EFEBEF;
    bottom: 45px;
    display: none;
    border-top-style:solid;
    border-top-width:1px;
    border-top-color:#cac5c5;
}

#message {   
    font-size: medium;
    padding-left:20px;
    color: #000000;
    font-size:15px;
}

.toast .closeBtn {
    width: 100%;
    margin-bottom:15px;  
}

#closeImage {
    float:right;
    cursor: pointer;
    margin-top:1px;
    margin-right:1px;
}

#headercontent {
    z-index:1000;
    height:80px;
    background-color:white;
    /*color: #337147;*/
    color: black;
    position:absolute;
    top:0;
    left: 0px;
    right: 0px;
    padding-left:20px;
    overflow:hidden;
}

#headercontent h1{
    margin-top:0px;
    margin-bottom:0px;
}

#introText {
    font-size:13px;
    padding-bottom:5px;
}

#title {
   margin-top:25px;
}

.loading {
    background: url('../Images/Progressbar.gif') no-repeat;
    background-color: #ffffff;
    background-position: 75px center;
    width: 70%;
}

li.listItem {
    background-color:#337147;
    height:65px;
    width:100px;
    display:inline-table;
    margin-right:10px;
    margin-bottom:10px;
    color:white;
    border-radius:2px;
    -moz-border-radius: 2px;
    -moz-box-shadow: 2px 2px 2px gray;
    -webkit-box-shadow: 2px 2px 2px gray;
    border-radius: 2px;
    box-shadow: 2px 2px 2px gray;
}

li.listItem:focus {
    -webkit-box-shadow:inset 0px 0px 0px 3px #000;
    -moz-box-shadow:inset 0px 0px 0px 3px #000;
    box-shadow:inset 0px 0px 0px 3px #000;
}

li.listItem img {
    position:relative;
    padding-bottom:5px;
    padding-right:5px;
    float:right;
}

li.listItem:hover{
    cursor:pointer;
    background-color:#43945d;
}

.listText {
    width:100px;
    height:35px;
    padding-left:10px;
    padding-right:10px;
}

.listText h2{
    line-height:16px;
    font-size: 10pt;
    font-family:Arial;
    padding-top:5px;
}

.navigationButtons {
    float:right;
}

.fancyImage{
    background-color: #337147;
    vertical-align: bottom;
    height: 25px;
    width: 25px;
}

#next {
    background-color: #337147;
    cursor: pointer;
    position: relative;
    float: right;
    border:0 none;
    padding: 0px 0px 0px 0px;
}

#nextlabel {
    float: left;
    padding-top: 3px;
    margin-right: 10px;
}

#nextlabel p {
    margin-bottom:0px;
    margin-top:0px;
    font-size:15px;
}

#next:hover {
    background-color:#43945d;
}

#next:focus {
    outline-color: black;
    outline-style: dotted;
    outline-width: 1.5px;
}

#next img {
    cursor:pointer;  
    height: 30px;
    width: 30px;
}

#previous {
    background-color:#337147;
    position:relative; 
    cursor:pointer;
    margin-right: 10px; 
    float:left;
    border:0 none;
    padding: 0px 0px 0px 0px;
}

#previous:focus {
    outline-color: black;
    outline-style: dotted;
    outline-width: 1.5px;
}

#previous img {
    cursor: pointer;
    height: 30px;
    width: 30px;
}

#previous:hover {
    background-color:#43945d;
}

#previouslabel p {
   margin-bottom:0px;
   margin-top:0px;
   font-size:15px;
}

.buttonclass {
    padding-top: 2px;
    float: left;
    background-color:#337147;
    color: white;
    padding: 5px 10px 5px 10px;
    font-family:Segoe UI, Tahoma, Verdana, sans-serif;
    border:solid;
    border-color:#9E9E9E;
    border-width:1px;
    cursor:pointer;
}

.fancyboxbuttonclass {
    background-color:#337147;
    height: 25px;
    color: white;
    padding: 5px 10px 5px 10px;
    font-family:Segoe UI, Tahoma, Verdana, sans-serif;
    border:solid;
    border-color:#9E9E9E;
    border-width:1px;
}

.codeLayoutBorder {
    border:solid;
    border-color:#e8e6e6;
    border-width:1px;
    height:100%
}

#codeLayout input, textarea {
    height:100px;
    width:99%; 
    margin-top:5px;
    font-family:monospace;
    border:solid;
    border-color:#9E9E9E;
    border-width:1px;
}

#navigation {
    position:absolute;
    bottom:0;
    left:20px;
    right:25px;
    height:35px;
    background-color:white;
}

.navimages {
    height:30px;    
    cursor:pointer;
    position:relative;
    float:right;
    padding-left:10px;
}

#description {
    margin-top:0px;
    height:auto;
    overflow-y:auto;
}

#description a{
    color:#337147;    
}

#summary {
    height:200px;
}

#tabs {
    width: 100%;
}

#codeMenu {
    display:inline; 
    list-style:none; 
    padding-right:10px;
}

#codeMenu a, #descriptionMenu a {
    color:#767676; 
    font-weight:normal;
}

#codeMenu.tabSelected a, #descriptionMenu.tabSelected a {
    color:#337147; 
    font-weight:600;
}

#descriptionMenu {
    display:inline; 
    list-style:none;

}

#navigation h2 {
    margin-top:0px;
}

#headercontent.listHeader {
    background-color:white;
    /*color: #337147;*/
    color:black;
    padding-top:14px;
    height:80px;
}

#headercontent.apiPageHeader {
    height: auto;
    background-color: #337147;
    color: white; 
    padding:10px;   
}

#tutorialList.list {
    padding-top:0px;
    margin-top:0px;
    padding-left: 10px;
    bottom: 0px;
}

#tutorialList.listPageContent {
    margin-top: 40px;
    padding-left: 10px;
    bottom: 0px;
    overflow-y:auto;
}

#tutorialList.apiPageContent {    
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    bottom: 45px;
}

#headercontent.tutorialpage {
    background-color: #337147;
    color: white;
    height:80px;
}

#tutorialList.APIPage1 {
    margin-top: 0;
    padding-right: 30px;
    padding-left: 20px;
    bottom: 45px;
}

#codeMenu a.selected {
     color: #337147;
     font-weight: 600;

}

#samplesContainer {
     overflow: hidden; 
     display:flex;
     flex-direction: column; 
     position: relative;     
     top:0px;
     bottom: 0px; 
     left: 0px; 
     right: 0px; 
     padding: 0 10px;
}

#samplesContainer.fixHeight {
     overflow: auto!important; 
     height: 40%;
}

#samplesContainer select{
    width:auto;  
    -moz-appearance:none;
    -webkit-appearance:none;
    background:url("/Images/arrow.png");
    background-repeat: no-repeat;
    background-position: right; 
    padding-right: 14px;
}

#samplesContainer select::-ms-expand{
    display:none;
}


#goButton {
    border:none;
    cursor:pointer;
    background:none;
    font-size:large; 
}

#console {
    width:100%; 
    height:100px; 
    bottom:0px;   
}

.divWrapperOutside {
    border:none;
    background-color: white;
    position:relative;
    left: 0px;
    right: 0px;
    top: 0px;  
}

.divWrapperInside {
    position: relative;
    background-color: white;     
    height: 60%;    
}

.divWrapperInsideFull {
    position: relative;
    background-color: white;     
    height: 100%;    
}

#buttonWrapper {
   position:absolute;
   bottom:0px;
   height:50px;
   width:100%;
   background-color:white;
}

.snippetbuttonclass {   
    background-color:#337147;
    color: white;
    padding: 5px 10px 5px 10px;
    font-family:Segoe UI, Tahoma, Verdana, sans-serif;
    border:solid;
    border-color:#9E9E9E;
    border-width:1px;
    cursor:pointer;
    margin:10px;
}

.codeSnippetsMenu {
    background:none;
    cursor:pointer;
    border:none;
    font-size:15px;
    color:white;    
    line-height: 25px;
    padding:0;
}

#scenariolabel {
    width:auto;  
    -moz-appearance:none;
    -webkit-appearance:none;
    background:url("/Images/arrowWhite.png");
    background-repeat: no-repeat;
    background-position: right; 
    padding-right: 14px;
}

#scenariolabel::-ms-expand{
    display:none;
}

.codeSnippetsMenu option{
    color:black;
}
.codeSnippetsMenu .selected{
    color:white;
}

#codeSnippet {
    margin:10px;
    margin-left:-50px;
    width:180%;
}
.mainMenu {
    height: auto;
    background-color: #337147;
    color: white; 
}

#sampleDescription {
    height:auto;
}
#sampleDescription p{
    margin:5px;
}

#TxtRichApiScript {
    height:70%; 
    overflow: hidden; 
    display:flex; 
    flex-direction: column; 
    position: relative; 
    top:0px; 
    bottom:0px; 
    left: 0px; 
    right: 0px; 
    padding: 5px;
}

.arrow, .arrow:hover {
    color: #337147;
    font-weight:600;
}

#sampleSelector:focus {
    outline-color: black;
    outline-style: dotted;
    outline-width: 1.5px;
}

#groupSelector:focus {
    outline-color: black;
    outline-style: dotted;
    outline-width: 1.5px;
}

#imgNext_BlackBackground {
    display:none;
}
#imgList_BlackBackground {
    display:none;
}
#imgBack_BlackBackground{
    display:none;
}
 
@media screen and (-ms-high-contrast:active)
{
     #sampleSelector{
     overflow: hidden; 
     background:url("/Images/arrowGray.png");
     outline-color: #9E9E9E;
     outline-style: solid;
     outline-width: 1px;
    }
     #groupSelector{
     overflow: hidden; 
     background:url("/Images/arrowGray.png");
     outline-color: #9E9E9E;
     outline-style: solid;
     outline-width: 1px;
    }

    li.listItem {
    background-color:#337147;
    color:white;
    }

    #imgNext_WhiteBackground{
        display:none;
    }
    #imgList_WhiteBackground{
        display:none;
    }
    #imgBack_WhiteBackground{
        display:none;
    }
    #imgNext_BlackBackground {
        display:block;
    }
    #imgList_BlackBackground {
        display:block;
    }
    #imgBack_BlackBackground{
        display:block;
    } 
}
@media screen and (-ms-high-contrast:black-on-white) {
    #imgNext_BlackBackground {
        display:none;
    }
    #imgList_BlackBackground {
        display:none;
    }
    #imgBack_BlackBackground{
        display:none;
    }
    #imgNext_WhiteBackground{
        display:block;
        background-color: black;
    }
    #imgList_WhiteBackground{
        display:block;
        background-color: black;
    }
    #imgBack_WhiteBackground{
        display:block;
        background-color: black;
    } 
}

